@using ProjectAgency.Areas.ProjectAgencyAdmin.ViewModels;
@model CreateProductVM
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Create product</h4>
                        <form class="forms-sample" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label asp-for="Name">Name</label>
                                <input asp-for="Name" class="form-control" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label asp-for="Photo">Photo Upload</label>
                                <input asp-for="Photo" class="form-control">
                                <div class="input-group col-xs-12">
                                <span class="text-danger" asp-validation-for="Photo" accept="image/*"></span>
                                </div>
                            </div>
                            <div class="form-control">
                                <select asp-for="CategoryId" asp-items="new SelectList(Model.Categories,nameof(Category.Id),nameof(Category.Name))">
                                    <option type="Category" disabled selected value="CategoryId">Choose category</option>
                                </select>
                                <span class="text-danger" asp-validation-for="CategoryId"></span>
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <a asp-action="index" asp-controller="home" class="btn btn-light">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div